body{
  margin: 5em;
}

ul{  
  padding: 0;
  list-style-type: none;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
}

.gris_clair_italique{
  color: grey;
  font-style: italic;
}

a {
  text-decoration: none;
}
nav{
  border-bottom: 1px solid black;
  padding-bottom: 1px;
}
nav ul {
  margin: 0;
}
h1{
  border-bottom: 3px solid black;
}
footer{
  border-top: 3px solid black;
}
.mot_en_gras , a{
  font-weight: bold;
}
